/* For projects */
/* Loading a spinner*/
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Lato");
.loader {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000; }

.loader .inner {
  width: 100%;
  height: 100%;
  background: url("../images/loader.gif") center center no-repeat; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #5d5d5d;
  font-weight: 300;
  text-align: center; }
  @media only screen and (min-width: 450px) {
    body {
      font-size: 1.125em; } }

h1,
h2,
h3,
p,
figure,
figcaption {
  margin: 0;
  padding: 0; }

h1,
h2 {
  font-family: "Abril Fatface", cursive; }

h3 {
  color: #212121;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 1.3125rem;
  margin-top: 2em;
  margin-bottom: 0.5em; }

p {
  margin-bottom: 0.8em; }

.heading-primary {
  color: #f55d3e;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out; }
    @media only screen and (min-width: 450px) {
      .heading-primary--main {
        font-size: 1rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 0.925rem;
    font-weight: 700;
    letter-spacing: 0.9rem;
    animation: moveInRight 1.5s ease-out;
    color: #fff; }

.section__title {
  color: #f55d3e;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 2rem; }
  @media only screen and (min-width: 450px) {
    .section__title {
      font-size: 2rem; } }
  .section__title--white {
    color: #fff; }
.section__subtitle {
  color: #9d9d9d;
  font-size: 1.68rem;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 0.75rem; }
  .section__subtitle::after {
    content: '';
    display: block;
    margin: 2em auto;
    background: currentColor;
    height: 1px;
    width: 25%; }

/* Buttons */
.btn, .btn-dark, .btn-light, .btn:link, .btn-dark:link, .btn-light:link, .btn:visited, .btn-dark:visited, .btn-light:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.25 2rem;
  display: inline-block;
  border-radius: 3rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.25rem;
  margin-top: 2em;
  border: none;
  cursor: pointer; }
.btn:hover, .btn-dark:hover, .btn-light:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after, .btn-dark:hover::after, .btn-light:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }
.btn:active, .btn-dark:active, .btn-light:active, .btn:focus, .btn-dark:focus, .btn-light:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
.btn--white {
  background-color: #ffb900;
  color: #fff; }
  .btn--white::after {
    background-color: #ff7730; }
.btn--green {
  background-color: #f55d3e;
  color: #fff; }
  .btn--green::after {
    background-color: #f55d3e; }
.btn::after, .btn-dark::after, .btn-light::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.25rem;
  color: #ffb900;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #f55d3e;
  padding: 3px;
  transition: all 0.2s;
  margin-top: 2em; }
.btn-text:hover {
  background-color: #ff7730;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(157, 157, 157, 0.15);
  transform: translateY(-2px); }
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(157, 157, 157, 0.15);
  transform: translateY(0); }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.btn, .btn-dark, .btn-light {
  display: inline-block;
  padding: 0.5em 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: 'blue';
    color: black; }

.section {
  padding-top: 4em;
  padding-left: 2em;
  padding-bottom: 4em;
  padding-right: 2em; }

.nav {
  left: 0;
  right: 0;
  padding-bottom: 0.725rem;
  z-index: 100;
  background-color: papayawhip; }
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "Abril Fatface", cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: 0 auto; }
  .nav a {
    color: #ff7730;
    text-decoration: none; }
    .nav a:hover {
      border-bottom: 1px solid #f55d3e; }

.fixedNav .nav {
  position: fixed;
  top: 0; }

.section--home {
  background-image: linear-gradient(to right bottom, rgba(93, 93, 93, 0.8), rgba(33, 33, 33, 0.8)), url("../images/home-bg.jpg");
  background-size: cover;
  background-position: top;
  padding: 10em 2em;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.section--about__image {
  box-shadow: 0 0 0.5em rgba(157, 157, 157, 0.5);
  width: 60%; }
@media only screen and (min-width: 860px) {
  .section--about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    grid-column-gap: 2em;
    max-width: 1200px;
    margin: 0 auto; }
    .section--about__title, .section--about__subtitle, .section--about__heading, .section--about__body {
      grid-column: 2/3; }
    .section--about__image {
      grid-row: 1/6;
      transform: translateY(-40%); } }

.section--facts {
  background: #f3f3f3; }

.facts__text {
  max-width: 450px;
  margin: 0 auto; }
  @media only screen and (min-width: 860px) {
    .facts__text {
      display: grid;
      grid: auto-flow/repeat(3, 1fr);
      grid-gap: 2em;
      max-width: 1200px; } }

/* Code for Grid......*/
.section--projects {
  background: #5d5d5d; }

.projects {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(3, 1fr); }
  .projects .card {
    position: relative;
    height: 25rem; }
    .projects .card__side {
      height: 25rem;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      backface-visibility: hidden;
      border-radius: 3px;
      overflow: hidden;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .projects .card__side--front {
        background-color: white; }
    .projects .card:hover {
      transition: all 0.8s ease;
      transform: translateY(-1rem) scale(1.03); }
    .projects .card__picture {
      background-size: cover;
      height: 20rem;
      background-blend-mode: screen;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      .projects .card__picture--2 {
        background-image: url(../images/projects/website_02.jpg); }
      .projects .card__picture--3 {
        background-image: url(../images/projects/website_03.jpg); }
      .projects .card__picture--4 {
        background-image: url(../images/projects/website_04.jpg); }
      .projects .card__picture--5 {
        background-image: url(../images/projects/website_05.jpg); }
      .projects .card__picture--6 {
        background-image: url(../images/projects/website_06.jpg); }
      .projects .card__picture--7 {
        background-image: url(../images/projects/website_07.jpg); }
      .projects .card__picture--8 {
        background-image: url(../images/projects/website_08.jpg); }
      .projects .card__picture--9 {
        background-image: url(../images/projects/website_09.jpg); }
    .projects .card__heading {
      font-size: 1.8rem;
      font-weight: 300;
      text-transform: uppercase;
      text-align: right;
      color: #fff;
      position: absolute;
      top: 5rem;
      right: 1rem;
      width: 75%; }
    .projects .card__heading-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .projects .card__heading-span--1 {
        background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
      .projects .card__heading-span--2 {
        background-image: linear-gradient(to right bottom, rgba(93, 93, 93, 0.85), rgba(33, 33, 33, 0.85)); }
      .projects .card__heading-span--3 {
        background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
    .projects .card__details ul {
      list-style: none;
      width: 50%;
      margin: 0 auto; }
      .projects .card__details ul li {
        text-align: center; }
        .projects .card__details ul li a {
          font-size: 0.925rem;
          padding: 0.5rem;
          font-weight: 400;
          text-decoration: none;
          color: #ff7730; }

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }
@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr); } }
@media screen and (max-width: 768px) {
  .projects {
    grid-template-columns: repeat(1, 1fr); } }
@media screen and (max-width: 500px) {
  .projects {
    grid-template-columns: 1fr; } }
.testimonials {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 2em; }
  @media only screen and (min-width: 860px) {
    .testimonials {
      display: grid;
      grid: auto-flow/repeat(3, 1fr);
      grid-gap: 2em;
      max-width: 1200px; } }

.testimonial {
  box-shadow: 0 0 0.5em rgba(157, 157, 157, 0.5);
  margin-bottom: 2em; }
  .testimonial__body {
    padding: 2em;
    color: #5d5d5d; }
  .testimonial__credit {
    background: #f3f3f3;
    padding: 2em; }
  .testimonial__name {
    font-weight: 900;
    margin: 0; }
    .testimonial__name::after {
      content: '';
      display: block;
      margin: 0.5em auto;
      background: currentColor;
      height: 1px;
      width: 50px;
      opacity: 0.5; }
  .testimonial__position {
    font-size: 0.9em;
    color: #5d5d5d;
    margin: 0; }

.footer {
  background: #5d5d5d;
  color: #f3f3f3;
  padding: 2em;
  font-weight: 900; }
  .footer__email {
    color: #f55d3e; }

/*# sourceMappingURL=main.css.map */
