$primary: #f55d3e;
$color-primary-light: #5d5d5d;
$color-primary-dark: #212121;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

//From Lightest to Darkest

$grays: (
	1: #fff,
	2: #f3f3f3,
	3: #9d9d9d,
	4: #5d5d5d,
	5: #212121
);
